<h3>Emotions</h3>
<h6>Click on the <a href="https://en.wikipedia.org/wiki/Contrasting_and_categorization_of_emotions#Plutchik.27s_wheel_of_emotions">
eight emotions</a> listed below to see their definitions and words sorted by average ranking of emotion.</h6>

<ul class="unorderedlist">
<% @feelings.each do |f| %>
  <li><%= link_to f.name, f %></li>
<% end %>
</ul>
