<h3>Emotions</h3>
<h6>Click on any the eight emotions listed below to see its definition and words sorted by ranking of each emotion.</h6>

<ul class="unorderedlist">
<% @feelings.each do |f| %>
  <li><%= link_to f.name, f %></li>
<% end %>
</ul>
