<h3>Emotions</h3>
<h5>Click on the eight emotions listed below to see their definitions and words sorted by average ranking of emotion.</h5>
<h6>We focus on the eight basic or primary emotions from <a href="https://en.wikipedia.org/wiki/Contrasting_and_categorization_of_emotions#Plutchik.27s_wheel_of_emotions">
Plutchik's Wheel of Emotions</a>. Combinations of these primary emotions create additional emotions. The Wheel has many uses today, from psychology to <a href="https://www.interaction-design.org/literature/article/putting-some-emotion-into-your-design-plutchik-s-wheel-of-emotions">design</a>.</h6>

<ul class="unorderedlist">
<% @feelings.each do |f| %>
  <li><%= link_to f.name, f %></li>
<% end %>
</ul>
