<h3><%=@word.entry%></h3>
<p>Loadedness breakdown by eight feelings (range of 0 to 9):</p>

<canvas id='spider'></canvas>
<script>
var ctx = document.getElementById('spider');
var spider = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: <%=raw @feels%>,
        datasets: [{
            //label: 'add here to create legend if more than one feeling displayed',
            data: <%=@avgs%>,
            borderWidth: 1,
            pointHoverBackgroundColor: '#C8C8C8',
            pointHoverBorderColor: '#C8C8C8',
            pointHoverRadius: 5
        }]
    },
    options: {
        scale: {
            angleLines: {
                display: false
            },
            ticks: {
                suggestedMin: 0,
                suggestedMax: 9
            }
        },
      //don't display label since only one feeling is displayed
      legend: {
        display: false
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem) {
            return tooltipItem.yLabel;
          }
        }
      }
    }
});
</script>
