$unvisited:#0066CC;
$visited:#800080;
$mouseover:#000000;
$underln: underline;

/* unvisited link */
div[role=main] a:link {
  color: $unvisited;
  text-decoration: $underln;
}

/* visited link */
div[role=main] a:visited {
  color: $visited;
  text-decoration: $underln;
}

/* mouse over link */
div[role=main] a:hover {
  color: $mouseover;
  text-decoration: $underln;
}
